# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# WSL/Ubuntu specific
*.swp
*~

# Logs
*.log

# Local virtual environment
fall_detection_env/
firebase_admin_venv/

# Backup files
*.bak

# Stock video folder
stock videos/

# Firebase API Key
serviceAccountKey.json

# Buffer status file
status.txt

# API Keys
.env

# Buffer video file
fall_clip*.mp4